<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v.module_rxjava">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".thread_switch.ThreadSwitchActivity"/>
        <activity android:name=".do_on_next.DoOnNextActivity" />
        <activity android:name=".DebounceCompareActivity" />
        <activity android:name=".RxJavaMainActivity" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".DownloadActivity" />
    </application>
</manifest>