<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v.module_picker_view">

    <application>
        <activity
            android:name="com.v.module_picker_view.MainPickerViewActivity"
            android:exported="true" />
    </application>
</manifest>