<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v.module_jetpack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".room.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".paging.PagingActivity"
            android:exported="false" />
        <activity
            android:name=".JetpackMainActivity"
            android:exported="false" />
    </application>

</manifest>