<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v.module_textview">

    <application>
        <activity
            android:name=".SingleLineActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".url_parse.UrlQueryParameterActivity"
            android:exported="true" />
        <activity
            android:name=".marquee.MarqueeActivity"
            android:exported="true" />
        <activity
            android:name=".TextviewMainActivity"
            android:exported="true" />
        <activity
            android:name=".tagview.HtmlTextViewActivity"
            android:exported="true" />
        <activity android:name=".tagview.TagTextViewActivity" />
        <activity android:name=".tagview.SpannableStringActivity" />
        <activity
            android:name=".at.RichTextActivity"
            android:exported="true" />
        <activity android:name=".at.UserListActivity" />
        <activity android:name=".at.TopicListActivity" />
    </application>

</manifest>