<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v.module_calendar">

    <application>

        <activity
            android:name=".CalendarMainActivity"/>

        <activity
            android:name=".activity.TestMiui9Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestMiui10Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestEmuiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TestWeekHoldActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestAddViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.CustomCalendarActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!--一下为新-->


        <activity
            android:name=".activity.TestMonthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TestWeekActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TestViewPagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestGeneralActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TestStretchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.GeneralAdapterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestAdapterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.DingAdapterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />


    </application>
</manifest>