<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.v.service">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService">
            <intent-filter>
                <action android:name="com.v.service.MyService" />
            </intent-filter>
        </service>

        <service android:name=".MyMessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.v.service.MyMessengerService" />
            </intent-filter>
        </service>

        <service android:name=".MyDoubleMessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.v.service.MyDoubleMessengerService" />
            </intent-filter>
        </service>
    </application>

</manifest>