<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v.tagtextview_module">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="30" />

    <application>
        <activity
            android:name=".HtmlTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".TextViewMainActivity"
            android:exported="true" />
        <activity android:name=".TagTextViewActivity" />
        <activity android:name=".SpannableStringActivity" />
    </application>

</manifest>