<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v.module_widget">

    <application>
        <activity
            android:name=".motion_layout.MotionLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".love_layout.LoveLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".flow_layout.FlowlayoutActivity"
            android:exported="true" />
        <activity
            android:name=".draw_water_view.MessageBubbleViewActivity"
            android:exported="true" />
        <activity
            android:name=".point_loading_view.LoadingViewActivity"
            android:exported="true" />
        <activity
            android:name=".like_view.KsgLikeViewActivity"
            android:exported="true" />
        <activity
            android:name=".screem_view.ListDataScreenViewActivity"
            android:exported="true" />
        <activity
            android:name=".view_drag_helper.VerticalViewDragActivity"
            android:exported="true" />
        <activity
            android:name=".touch_view.TouchViewActivity"
            android:exported="true" />
        <activity
            android:name=".tag_layout.TagLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".letter_side_bar.LetterSideBarActivity"
            android:exported="true" />
        <activity
            android:name=".rating_bar.RatingBarActivity"
            android:exported="true" />
        <activity
            android:name=".progess_bar.ProgressBarActivity"
            android:exported="true" />
        <activity
            android:name=".color_track.ViewPageActivity"
            android:exported="true" />
        <activity
            android:name=".color_track.ColorTrackTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".step_counter.StepCounterActivity"
            android:exported="true" />
        <activity
            android:name=".CustomViewMainActivity"
            android:exported="true" />
        <activity
            android:name=".text_view.CustomTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".watch_view.CustomWatchActivity"
            android:exported="true" />
        <activity
            android:name=".shape_view.ShapeViewActivity"
            android:exported="true" />
        <activity
            android:name=".event_dispatch.EventDispatchActivity"
            android:exported="true" />
        <activity
            android:name=".event_dispatch.EventDispatch2Activity"
            android:exported="true" />
        <activity
            android:name=".circle_menu.CircleMenuActivity"
            android:exported="true" />
        <activity
            android:name=".circle_menu.CircleMenu2Activity"
            android:exported="true" />
    </application>

</manifest>