<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v.module_widget">

    <application>
        <activity
            android:name=".progess_bar.ProgressBarActivity"
            android:exported="true" />
        <activity
            android:name=".color_track.ViewPageActivity"
            android:exported="true" />
        <activity
            android:name=".color_track.ColorTrackTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".step_counter.StepCounterActivity"
            android:exported="true" />
        <activity android:name=".CustomViewMainActivity" />
        <activity android:name=".text_view.CustomTextViewActivity" />
        <activity android:name=".watch_view.CustomWatchActivity" />
        <activity android:name=".shape_view.ShapeViewActivity" />
    </application>

</manifest>